@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --primary: #F3EFF5;
  --secondary: #0F131B;
  --accent: #72B01D;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #F3EFF5;
    --backgroundSecondary: #c0c0c0;
    --primary: #0D0A0B;
    --secondary: #454955;
    --accent: #72B01D;
  }
} */

body {
  background: var(--primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
