@import "tailwindcss";

:root {
  --background: #0e0e0e;
  --primary: #F3EFF5;
  --customizablePrimary: #F3EFF5;
  --customizableSecondary: #6A7282;
  --customizableHighlight: #0F131B;
  --customizableAccent: #72B01D;
  --customizableGreenScreen: #0F0;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-customizablePrimary: var(--customizablePrimary);
  --color-customizableSecondary: var(--customizableSecondary);
  --color-customizableHighlight: var(--customizableHighlight);
  --color-customizableAccent: var(--customizableAccent);
  --color-customizableGreenScreen: var(--customizableGreenScreen);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #F3EFF5;
    --backgroundSecondary: #c0c0c0;
    --primary: #0D0A0B;
    --secondary: #454955;
    --accent: #72B01D;
  }
} */

body {
  background: var(--background);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}